.about {
  padding: 80px 0;
  background: #f8f9fa;
  margin-top: 80px;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.colLeft {
  flex: 1;
  padding-right: 40px;
}

.colRight {
  flex: 1;
  padding-left: 40px;
}

.sectionTitle {
  text-align: left;
  max-width: 600px;
}

.sectionTitle h3 {
  font-size: 18px;
  color: #4154f1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sectionTitle h2 {
  font-size: 36px;
  font-weight: bold;
  color: #012970;
  margin-bottom: 20px;
}

.sectionTitle p {
  font-size: 17px;
  color: #444;
  line-height: 1.8;
}

.btnReadMore {
  display: inline-block;
  padding: 12px 24px;
  background: #4154f1;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.3s;
}

.btnReadMore:hover {
  background: #012970;
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.infoBox {
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.infoBox:hover {
  transform: translateY(-8px);
}

.infoBox i {
  font-size: 40px;
  color: #4154f1;
  margin-bottom: 12px;
}

.infoBox h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 600;
}

.infoBox p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 992px) {
  .about {
    padding: 80px 20px;
  }

  .row {
    flex-direction: column;
  }

  .colLeft,
  .colRight {
    padding: 0;
  }

  .sectionTitle {
    text-align: center;
  }

  .infoGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 60px 15px;
    margin-top: 100px
  }

  .sectionTitle h2 {
    font-size: 30px;
  }

  .btnReadMore {
    padding: 10px 20px;
    font-size: 15px;
  }

  .infoBox {
    padding: 20px;
  }
}
